.hidden {
  display: none !important;
}

body {
  background-color: rgb(74, 135, 196);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
}

.column-full {
  width: 100%;
}

.user-entry {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .column-full,
  .column-half,
  .column-two-fourths {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .additional-forecast-row {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .user-entry {
    display: flex;
    gap: 3rem;
  }

  .mobile-back {
    display: none;
  }

  #additional-forecast {
    gap: 2rem;
    width: 950px;
  }

  .forecast-preview {
    width: 600px;
  }

  .column-left,
  .column-left-condition,
  .column-right {
    width: 250px;
    height: 120px;
    font-size: 1.3rem;
  }

  .forecast-text {
    font-size: 1rem;
  }

  .astro-row {
    width: 550px;
    margin: 2rem auto;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .weekly-weather-container {
    width: 320px;
    height: 531.91px;
  }

  .day-of-week {
    padding: 0;
  }

  .day-weather {
    margin: 1.5rem 1rem;
  }

  .fa-trash {
    font-size: 1.5rem;
    color: rgb(128, 0, 32);
    position: absolute;
    top: -0.5rem;
    left: 19.25rem;
  }
}
