.hidden {
  display: none !important;
}

body {
  background-color: rgb(74, 135, 196);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
}

.column-full {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .column-full,
  .column-half,
  .column-two-fourths {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  #weather-preview {
    display: flex;
    gap: 30rem;
  }
}

.hourly-temp,
.time {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 768px) {
  #forecast-preview {
    display: none;
  }
}
